body {
    background-color: rgb(250, 235, 204);
    margin: 0;
    padding: 0;

}

h1 {
    background-color: rgb(140, 218, 76);
    color: rgb(255, 236, 66);
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    text-align: center;
    font-family: "Merienda One";
}

#alpha {
    color:rgb(146, 146, 146);
    text-align: center;
    font-size: x-large;
    font-family: "Merienda One";
}

#bravo {
    color: rgb(146, 146, 146);
    text-align: center;
    font-size: x-large;
    font-style: oblique;
    font-style: italic;
    font-family: "Merienda One";
}

#one {
    display: flex;
    flex-direction: row;
    font-family: "Merienda One";
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 70px;
    font-size: x-large;
    background-color: hsl(32, 100%, 82%);
    border-radius: 25px;

}

.two {
    display: flex;
    flex-direction: column;
    background-color:  #9c764c;
    margin-left: auto;
    margin-right: auto; 
    width: 60%;
    height: 100%;
    min-height: 700px;
    padding: 10px;
    margin-top: 2%;
    font-family: "Merienda One";
    border-radius: 25px;
    font-size: xx-large;
}

#RecipeList {
    display: flex;
    background-color: #9c764c;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 25px;
    border: 5px;
    width: 100%;
    align-items: center;
}

.Recipe {
    background-color:   hsl(32, 100%, 82%);
    text-decoration: none;
    width: 70%;
    margin-top: 30px;
    padding-top: 50px;
    text-align: center;
    text-justify: center;
    border-radius: 25px;
    height: 100px;
    border: 5px;  
    font-size: xx-large; 
}

.RecipeHeader{
    display: flex;
    align-items: center;
    flex: row;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    
}

a {
    color: #404c24;
}